<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Política de Privacidad</h1>
        <p>
        Esta política se aplica a toda la información recopilada o enviada en la 	aplicación Personality Test para dispositivos Android y Apple.
        </p>

        <h2>Información que recopilamos</h2>
        <p>
	No recopilamos ninguna información, ni de imagen ni de información 	personal.
        </p>

        <h2>Anuncios y análisis</h2>
	<p>
	<p>Utilizamos Google Admob - consulte la política de admob aquí, por favor: 
	<a href="https://policies.google.com/privacy?hl=en&gl=US" target="_blank" 	rel="noopener noreferrer">https://policies.google.com/privacy?	hl=en&gl=US</a></p>
        </p>
 	
	<h2>Cumplimiento de la Ley de Protección de la Privacidad en Línea de 	California</h2>
        <p>
	No recopilamos ninguna información, ni de imagen ni de información 	personal.
        </p>

	<h2>Cumplimiento de la Ley de Protección de la Privacidad de los Niños en 	Internet</h2>
        <p>
	Nunca recopilamos ni mantenemos información en nuestra aplicación
        </p>

	<h2>Información para clientes de la Unión Europea</h2>
        <p>
	No recopilamos ningún tipo de información.
        </p>
	
	<h2>Su consentimiento</h2>
        <p>
	Al utilizar nuestro sitio o aplicaciones, usted acepta nuestra política de 	privacidad.
        </p>

	<h2>Contacta con nosotros</h2>
        <p>
	Si tiene preguntas sobre esta política de privacidad, puede enviar un 	correo electrónico a: <a href="mailto:viriverpa@gmail.com">	viriverpa@gmail.com</a>
        </p>

    </div>
</body>
</html>
